{
    "默认配置" : {

        # QQBot-term （HTTP-API） 服务器端口号（该服务器监听 IP 为 127.0.0.1 ）
        # 设置为 0 则不会开启本服务器（此时 qq 命令和 HTTP-API 接口都无法使用）。
        "termServerPort" : 8188,

        # 二维码 http 服务器 ip，请设置为公网 ip 或空字符串
        "httpServerIP" : "",

        # 二维码 http 服务器端口号
        "httpServerPort" : 8189,

        # 自动登录的 QQ 号
        "qq" : "xxxx",

        # 接收二维码图片的邮箱账号
        "mailAccount" : "xxxxxxx",

        # 该邮箱的 IMAP/SMTP 服务授权码
        "mailAuthCode" : "feregfgftrasdsew",

        # 是否以文本模式显示二维码
        "cmdQrcode" : False,

        # 显示/关闭调试信息
        "debug" : False,

        # QQBot 掉线后自动重启
        "restartOnOffline" : True,

        # 在后台运行 qqbot ( daemon 模式)
        "daemon": False,

        # 完成全部联系人列表获取之后才启动 QQBot
        "startAfterFetch" : False,

        # 插件目录
        "pluginPath" : ".",

        # 启动时需加载的插件
        "plugins" : ["qqbot.plugins.sampleslots", "coupon_listener"],

        # 插件的配置（由用户自定义）
        "pluginsConf" : {},
    },
}